.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* STEP ONE - ENTER INPUT */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputText {
  width: 70%;
  padding: 12px;
  font-size: 20px;
}

button {
  width: 25%;
  font-size: 20px;
  padding: 12px;
  margin-top: 15px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

/* STEP TWO - PUNCH CARD */

.card-with-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.card-with-details p {
  margin: 5px auto;
}

.card-with-details button {
  padding: 8px;
  background: white;
  border: 2px solid black;
  font-size: 16px;
  width: 15%;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  background: aquamarine;
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  justify-content: center;
  align-items: space-between;
  padding: 15px;
  margin-top: 10px;
}

.punch {
  border: 2px solid black;
  border-radius: 50%;
  background: yellow;
  width: 50px;
  height: 50px;
  margin: 5px;
}