.App {
  text-align: center;
  /* background: url(assets/pattern.png); */
  background-size: 400px 400px;
  background-repeat: repeat;
  padding: 20px 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* STEP ONE - ENTER INPUT */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputText {
  width: 50%;
  padding: 12px;
  font-size: 20px;
  box-shadow: none;
  text-align: center;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  /* border-bottom: 2px solid aqua; */
  transition: 0.3s ease;
  margin-bottom: 20px;
}


.inputText:active,
.inputText:focus {
  border-bottom: 3px solid aqua;
  outline: 0;
  transition: 0.3s ease;
}

.form-button {
  width: 25%;
  font-size: 20px;
  padding: 12px;
  margin-top: 15px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-button:hover {
  background-color: black;
  color: white;
}

/* STEP TWO - PUNCH CARD */

.card-with-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}
.card-with-details p {
  margin: 5px auto;
}

.card-with-details button {
  padding: 8px;
  background: white;
  border: 2px solid black;
  font-size: 16px;
  width: 100px;
  margin-top: 15px;
}

.card {
  /* border: 2px solid black; */
  border-radius: 10px;
  width: 260px;
  padding: 15px;
  margin-top: 10px;
  background: aquamarine;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  transition: 0.3s ease;
}

.punch {
  /* border: 2px solid black; */
  border-radius: 50%;
  background: yellow;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.reward-msg {
  border: 2px solid black;
  border-radius: 10px;
  width: 260px;
  padding: 15px;
  min-height: 128px;
  display: flex;
  align-items: center;
}

.reward-msg p {
  font-size: 22px;
}